@font-face {
  font-family: "iconfont"; /* Project id 3898775 */
  src: url('iconfont.woff2?t=1677234091799') format('woff2'),
       url('iconfont.woff?t=1677234091799') format('woff'),
       url('iconfont.ttf?t=1677234091799') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sum:before {
  content: "\e76e";
}

.icon-setting:before {
  content: "\e87e";
}

.icon-shangchuan:before {
  content: "\e65c";
}

.icon-xiazai:before {
  content: "\e65d";
}

.icon-up:before {
  content: "\e742";
}

.icon-down:before {
  content: "\e72d";
}

.icon-arrow-right_c:before {
  content: "\e611";
}

.icon-arrow-right:before {
  content: "\e687";
}

.icon-calendar:before {
  content: "\e7d3";
}

.icon-calendar-fill:before {
  content: "\e84d";
}

.icon-filter-fill:before {
  content: "\e690";
}

.icon-filter:before {
  content: "\e672";
}

.icon-fullscreen:before {
  content: "\e7ec";
}

.icon-fullscreen-exit:before {
  content: "\e7ed";
}

.icon-search:before {
  content: "\e699";
}

.icon-reset:before {
  content: "\e615";
}

