.g-table-container {
  background: #fff;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.g-table-fullscreen_t {
  position: fixed;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px;
  box-sizing: border-box;
  transition: all .5s;
}
.g-table-content__right--i{
  margin: 0 5px;
  color: #336ffd;
}
.g-table-container .el-table{
  flex: 1;
}
.g-table-header th {
  background-color: #e6f1fe !important;
  color: #666666;
}
.g-table-header__top {
  vertical-align: top !important;
}
.g-table-header__item {
  display: flex;
  align-items: center;
}

.icon-reset {
  font-size: 14px;
}
.g-table-search {
  display: flex;
  justify-content: space-between;
}
.g-table-fullscreen {
  text-align: right;
}
.g-table-fullscreen .icon-fullscreen,
.g-table-fullscreen .icon-fullscreen-exit {
  font-size: 18px;
  vertical-align: middle;
  color: var(--el-color-primary);
}
.g-table-filter__fill {
  color: var(--el-menu-active-color);
}
.g-table-popper .is-active {
  background: var(--el-menu-hover-bg-color);
  color: var(--el-menu-hover-text-color);
}

.g-table-popper .g-table-popper__btn {
  min-width: 100px;
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.g-table-popper .filter-item {
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  transition: all 300ms ease;
  font-size: var(--el-checkbox-font-size);
}
.g-table-popper .filter-item:hover {
  background: var(--el-menu-hover-bg-color);
  color: var(--el-menu-hover-text-color);
}
.g-table-popper .el-divider--horizontal {
  margin: 5px 0;
}
.g-table-popper .g-table-popper__checkbox {
  padding: 0 10px;
}
.g-table-popper .g-table-popper__disabled {
  cursor: not-allowed;
  color: #ccc;
}

.g-table-copyable .el-table__cell {
  user-select: none;
}

.g-table-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}
.g-table-content__left,
.g-table-content__right {
  display: flex;
}
.g-table-content__right {
  text-align: right;
  align-items: center;
}

.g-table-container .el-alert--info.is-light{
  background: #e6f7ff;
  border: 1px solid #91d5ff;
  color: #666;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.g-table-container .el-alert--info.is-light i{
  color: #336ffd;
}