.g-form-tooltip {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  color: #fff;
  border-radius: 100%;
  display: inline-flex;
  margin-left: 5px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
}
